@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/*-- badge style start --*/
/*-- reset style start --*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif !important;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  color: #444444;
  background: #0D1014 !important;
  background-color: #0D1014 !important;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
}
.body-container{
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 43px;
}
body::-webkit-scrollbar-thumb {
  background: #D0D2D3;
  border-radius: 43px;
}

.dm-sans {
  font-family: "DM Sans", sans-serif !important;
}

.montserrat-alternates {
  font-family: "Montserrat Alternates", sans-serif !important;
}

.caveat {
  font-family: "Caveat", cursive !important;
}

.quantico {
  font-family: "Quantico", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700 !important;
  letter-spacing: 0;
  color: #111111;
  line-height: 1.46;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

h6 {
  font-size: 15px;
  font-weight: 500;
}

.wt-400 {
  font-weight: 400 !important;
}

.wt-500 {
  font-weight: 500 !important;
}

.wt-600 {
  font-weight: 600 !important;
}

.wt-700 {
  font-weight: 700 !important;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-12 {
  margin-left: 12px;
}

.mx-auto {
  margin: 0px auto;
}

.p-0 {
  padding: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.no-border {
  border: none !important;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.bg-gray {
  background: #ECEFF1;
}

body .mt--60 {
  margin-top: -60px;
}

.xl-mb-10 {
  margin-bottom: 10px;
}

.xl-mb-20 {
  margin-bottom: 20px;
}

.xl-mb-25 {
  margin-bottom: 25px;
}

.xl-mb-30 {
  margin-bottom: 30px !important;
}

.xl-mb-40 {
  margin-bottom: 40px !important;
}

.xl-pl-0 {
  padding-left: 0;
}

.max-w-100 {
  max-width: 100% !important;
}

::-moz-selection {
  background-color: #0095ff;
  color: #ffffff;
}

::selection {
  background-color: #0095ff;
  color: #ffffff;
}

.row-gap50 {
  row-gap: 50px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.offer-text {
  margin-top: 28px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #0ec36b;
}

.bg-none {
  background: transparent !important;
}

a,
.btn,
button {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}
a:hover,
.btn:hover,
button:hover {
  text-decoration: none;
  color: inherit;
}
a:focus,
.btn:focus,
button:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}

button,
input[type=submit] {
  cursor: pointer;
}

button {
  border-radius: 0;
  border: 0;
  background-color: transparent;
}

.btn {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}



/*-- custom bootstrap style start --*/
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1170px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 1480px) {
  .custom-container {
    max-width: 1450px !important;
    padding: 0px 20px;
    margin: auto;
  }
}
/*-- custom bootstrap style end --*/
/*-- color style --*/
.color-theme {
  color: #0095ff !important;
}

/*-- bg color style start --*/
.bg-primay {
  background-color: #0095ff;
}

.white-color {
  color: #ffffff;
}

.body-color {
  color: #444444;
}

.bg-aero-blue {
  background-color: #D1FDE9;
}

.green-color {
  color: #44C486;
}

.check-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.max-width-570 {
  max-width: 570px;
}

.z-index-3 {
  position: relative;
  z-index: 3 !important;
}

/*-- bg color style end --*/
/*-- Lib custom Start --*/
.row {
  margin: 0px -15px !important;
}

.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0px 15px !important;
}

/*-- Lib custom End --*/
/*-- Dark Mood --*/
body.dark-scheme,
html.dark-scheme body {
  color: #999999;
}
body.dark-scheme h1,
body.dark-scheme h2,
body.dark-scheme h3,
body.dark-scheme h4,
body.dark-scheme h5,
body.dark-scheme h6,
html.dark-scheme body h1,
html.dark-scheme body h2,
html.dark-scheme body h3,
html.dark-scheme body h4,
html.dark-scheme body h5,
html.dark-scheme body h6 {
  color: #ffffff;
}

/*-- reset style end --*/
.CircularProgressbar .CircularProgressbar-text{
  color: #111;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: uppercase;
}
/* .CircularProgressbar .CircularProgressbar-trail {
    stroke: #FFFFFF !important;
} */
.CircularProgressbar .CircularProgressbar-text{
  fill: #111111 !important;
}
.progress.pie_progress{
  position: relative;
  p{
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
  }
}

.rotate-icon-btn {
  transition: 0.3s;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.rotate-icon-btn .rotate-icon {
  transition: 0.3s;
  position: relative;
        z-index: 1;
}
.rotate-icon-btn .icon {
  position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50px;
        width: 55px;
}

.rotate-icon {
  transition: 0.3s;
}
.staco-overly-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in;
  }
  

/*--------------------------------
05. Utilities style
--------------------------------*/
/*-- margin style --*/
.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}




.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.error-page h4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 150%;
  color: #111111;
}

@keyframes jumpingDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes jumpingUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.v7body-section {
  position: relative;
  z-index: 5;
  background: #ffffff;
  margin-bottom: 650px;
}

.crypto-wallet-body {
  background: #101722;
  min-height: 100vh;
}

.crypto-token-body {
  background: #0d1014;
  min-height: 100vh;
  overflow-x: hidden;
}

.newsletter-bg {
  background: #eef2f5;
}
.v6-top-section {
  background: #ffffff;
  background: transparent;
  position: relative;
  z-index: 999999;
}
.finance-top-section {
  background: #ffffff;
  position: relative;
  z-index: 999999;
}
.h6-bottom-section {
  background-color: #ecf1f1;
  position: relative;
  z-index: 999999;
  margin-bottom: 268px;
}
.v6-bottom-section {
  background: #ecf1f1;
  position: relative;
  z-index: 1;
}
.v7body-section {
  position: relative;
  z-index: 5;
  background: #ffffff;
  margin-bottom: 650px;
}
.chatbot-body {
  position: relative;
  z-index: 2;
}
.defi-index-bg {
  background: #0d1014;
  min-height: 100vh;
}
.staco-overly-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.nav-expanded .staco-overly-bg {
  opacity: 1;
  visibility: visible;
}
.pos-relt {
  position: relative;
}
@keyframes smoothSlider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 6));
  }
}
@keyframes smoothSlider2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-120px * 4));
  }
}


.mobile-logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background: #0D1014 !important;
  padding: 15px 30px !important;
  width: 320px !important;
}
.css-i4bv87-MuiSvgIcon-root{
  color: #FFFFFF !important;
}
.css-1u2w381-MuiModal-root-MuiDrawer-root{
  z-index: 9999 !important;
}
.css-1g9f98u-MuiButtonBase-root-MuiIconButton-root{
  top: 20px !important;
  right: 20px !important;
}
.css-10hburv-MuiTypography-root{
  color: #FFF !important;
  font-family: Quantico !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  text-transform: uppercase !important;
}

@media screen and (max-width: 767px) {
  h1{
    font-size: 40px !important;
  }
}

@media screen and (max-width: 480px) {
  .css-1160xiw-MuiPaper-root-MuiDrawer-paper {
    width: 100% !important;
  }
}